
    p{
        font-family:Arial;
    }
    .video-tittle{
       
        font-size: 19px;
        font-weight:bold;
        width:310px;
        line-height:24px;
        margin-bottom:4px;
    }
    .views{
        line-height:24px;
        color:rgb(83, 82, 82);
        margin-top:0px;
        margin-bottom:7px;
       

    }
    .third{
        color: rgb(83, 82, 82);
        
        margin-top:2px;

    }
    .fourth{
       
        font-size:14px;
        color:rgb(83, 82, 82);
        width: 280px;
        line-height:19px;
        margin-bottom:100px;


    }
    .last{
        margin-bottom:50px;
        font-size:14px;
        background-color:red;
        color:white;
        text-align:center;
        padding-top:18px;
        padding-bottom:18px;
        

    }
